@import "../styles/_variables";
@import "../styles/_typography";

html {
  color: $neutralColor-1;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

header, .main-product, .our-products__card__info {
  background-color: $primaryColor-2;
}

a {
  text-decoration: none;
  color: $neutralColor-1;
}

.nav {
  padding: $horizontalPadding;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  &__logo {
    display: flex;
    align-items: center;
    
    & h1 {
      text-decoration: none;
      @include heading;
    }
  }

  &__links {
    display: flex;

    &__item {
      padding: $horizontalPadding;
      @include navLink-button;
      list-style: none;
      
      & a:hover {
        color: $primaryColor-1;
      }
    }

  }
}
