@mixin heading {
  font-size: 60px;
  font-weight: 300;
}

@mixin heading-nav-footer{
  font-size: 33px;
  font-weight: 300;
}

@mixin navLink-button {
  font-size: 21px;
  font-weight: 400;
}

@mixin paragraphText {
  font-size: 18px;
  font-weight: 400;
}

@mixin paragraphText-italic {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}