@import "../styles/_global";
@import "../styles/_typography";
@import "../styles/_mixins";
@import "../styles/_variables";

article {
  text-align: center;
}

h2 {
  @include heading;

  &:first-child {
    margin-top: 0;
    padding-top: 20px;
  }
}

h3 {
  @include heading-nav-footer;
}

li {
  display: inline-block;
}

.nav__logo h1 {
  margin: 7% 0; 
}

.main-image {
  min-height: 35.938rem;
  max-height: 37.5rem;
  width: 100%;
  @include center;
  background-image: url("../assets/images/coffee-circle.jpg");
  background-position: center;
  background-size: cover;

  &__title {
    padding-top: 27px;
    padding-right: 4px;
    min-height: 180px;
    max-height: 300px;
    min-width: 280px;
    max-width: 300px;
    @include heading;
    @include center;
    align-items: unset;
    background-color: $neutralColor-1;
    color: $neutralColor-4;
    position: relative;

    &::after {
      top: -20px;
      left: -20px;
      height: 195px;
      width: 280px;
      content: "";
      outline: 5px solid $primaryColor-1;
      position: absolute;
    }
  }
}

.menu-navigation__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
  min-width: 100%;
  max-width: 100%;
  text-align: center;
  background-color: #393939;
  display: inline-block;

  & li a {
    padding: $horizontalPadding;
    list-style: none;
    color: white;
    @include navLink-button;
    border-left-color: #5bacc3;
    border-left-width: 4px;
    border-left-style: solid;
  }
}

.drinks {
  &__description {
    margin: 0 auto;
    width: 40%;
    @include paragraphText-italic;
  }

  &__price {
    margin-bottom: 0;
    padding-bottom: 18px;
    @include paragraphText;
    color: $primaryColor-1;
  }
}