@import "../styles/_global";
@import "../styles/_mixins";
@import "../styles/_typography";
@import "../styles/_variables";

.main-product {
    padding-bottom: 3%;
    @include center;

    &__text {
        width: 52%;

        &__title {
            margin: 0;
            @include heading;
        }
        
        &__paragraph {
            width: 41%;
            @include paragraphText;
        }
    }

    &__image {
        min-height: 15rem;
        max-height: 34.375rem;
    }
}

button{
    @include button-style;
}

.our-products {
    padding: 50px 20px 1px 20px;
    background-color: $neutralColor-3;
    
    &__title {
        margin-top: 0;
        @include heading;
        text-align: center;
    }
    
    &__container {
        @include center;
        justify-content: space-evenly;
    }

    &__card {
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        @include product-card;
        background-color: $neutralColor-4;
        box-sizing: border-box;

        
        &__image {
            @include products;
            padding: 30px 20px;
        }  
        
        &__info {
            padding: 26px 20px;
            width: 100%;
            @include center;
            justify-content: space-between;
            box-sizing: border-box;
            
            & div {
                display: flex;
                flex-direction: column;

                & h3 {
                    margin: 0;
                    @include heading-nav-footer;
                }
                
                & p {
                    margin-top: 5px;
                    @include paragraphText;
                    color: $neutralColor-2
                }
            }
            & p {
                @include navLink-button;
                font-weight: bolder;
                color: $primaryColor-1;
            }
        }
    }

    & button {
        margin: 4% auto 3% auto;
        @include center;
    }
}

.different {
    padding: 5% 20px;
    @include center;
    justify-content: space-around;
    background-color: $neutralColor-4;

    &__text {
        width: 40%;

        & h2 {
            @include heading;
        }
        
        & p {
            width: 85%;
            @include paragraphText;
        }
        
        &__icons {
            margin: 4% 0;
            width: 80%;
            @include center;
            justify-content: space-between;
        }

        & button {
            margin-bottom: 10%;
        }
    }

    &__image {
        padding: $horizontalPadding;
        width: 40%;
        @include center;
        
        &__background {
            min-width: 400px;
            max-width: 500px;
        }
        
        &__coldbrew {
            position: absolute;
            background-color: transparent;
            z-index: 2;

            &:hover {
                animation: "spin" 2s linear infinite;
            }
        }
    }
}

.discount {
    margin: 5% auto 10% auto;
    height: 100px;
    min-width: fit-content;
    max-width: 90%;
    text-align: center;
    @include center;
    background-color: $neutralColor-1;
    
    &__paragraph {
        margin: 0;
        color: $neutralColor-4;
        font-size: 2.813rem;
        font-weight: 400;
        
        &__span {
            font-weight: 700;
        }
    }
}

.footer {
    padding: 1% 20px 5% 20px;
    position: relative;
    
    &__background {
      opacity: 25%;
      
      &__left {
        top: 5%;
        left: -2%;
        @include logoSize;
        position: absolute;
      }
  
      &__right {
        right: -3%;
        bottom: 19%;
        @include logoSize;
        position: absolute;
      }
    }
  
    &__container {
      @include center;
      justify-content: space-evenly;
  
      &__textBlock {
  
        & h3 {
          @include heading-nav-footer;
        }
  
        & p {
          margin: 1% 0 0 0;
          @include paragraphText;
  
          & span {
            font-weight: bolder;
          }
        }
  
        & img {
          height: 50px;
        }
      }
    }
  }