@import "../styles/_global";
@import "../styles/_mixins";

.main-product {
    padding-bottom: 3%;
    @include center;

    &__text {
        &__title {
            margin: 0;
            @include heading;
        }
        
        &__paragraph {
            width: 37%;
            @include paragraphText;
        }
    }

    &__image {
        min-height: 15rem;
        max-height: 34.375rem;
    }
}

.button{
    @include button-style;
}

.prices {

    color: #5BACC3;
    font-weight: 400;
}

.section-discount{

    min-width: fit-content;
    max-width: 90%;
    background-color: #393939;
    color: white;
    font-size: 2.813rem;
    text-align: center;
}

.text-discount {
    
    font-weight: 400;
    margin: 0;
}

.span-text {

    font-weight: 700;
}


