@-webkit-keyframes buttonMove {
  0% {
    top: -5px;
    left: -5px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

@keyframes buttonMove {
  0% {
    top: -5px;
    left: -5px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fade {
  from {
    background-color: #393939;
  }
  to {
    background-color: #5bacc3;
  }
}

@keyframes fade {
  from {
    background-color: #393939;
  }
  to {
    background-color: #5bacc3;
  }
}

html {
  color: #393939;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

header, .main-product, .our-products__card__info, .footer, .hot-drinks, .pastries {
  background-color: #FFF0ED;
}

a {
  text-decoration: none;
  color: #393939;
  cursor: pointer;
}

.nav {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo h1 {
  text-decoration: none;
  font-size: 60px;
  font-weight: 300;
}

.nav__logo a img {
  min-width: 60px;
  min-width: 120px;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__links__item {
  padding: 0 20px;
  font-size: 21px;
  font-weight: 400;
  list-style: none;
}

.nav__links__item:last-child a {
  color: #5BACC3;
}

.icons {
  height: 70px;
  min-width: 50px;
  max-width: 120px;
}

@keyframes buttonMove {
  0% {
    top: -5px;
    left: -5px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes fade {
  from {
    background-color: #393939;
  }
  to {
    background-color: #5bacc3;
  }
}

button {
  height: 55px;
  min-width: 180px;
  max-width: 80%;
  color: #FFF;
  font-size: 21px;
  font-weight: 400;
  background-color: #5BACC3;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 0px 8px 3px 3px;
}

button:after {
  top: -5px;
  left: -5px;
  height: 52px;
  width: 180px;
  content: "";
  outline: 2px solid #393939;
  position: absolute;
}

button:active {
  border: 2px solid #393939;
}

button:active::after {
  -webkit-animation-name: "buttonMove";
          animation-name: "buttonMove";
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  outline: none;
}

button:active {
  padding: 1px 6px;
}

.main-product {
  padding-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-product__text {
  width: 52%;
}

.main-product__text__title {
  margin: 0;
  font-size: 60px;
  font-weight: 300;
}

.main-product__text__paragraph {
  margin: 5% 0;
  width: 45%;
  font-size: 18px;
  font-weight: 400;
}

.main-product__image {
  min-height: 15rem;
  max-height: 34.375rem;
}

.our-products {
  padding: 50px 20px 1px 20px;
  background-color: #F7F7F7;
}

.our-products__title {
  margin-top: 0;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
}

.our-products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.our-products__card {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 440px;
  max-height: 460px;
  min-width: 330px;
  max-width: 350px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  background-color: #FFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.our-products__card__image {
  padding: 0 20px;
  min-height: 240px;
  max-height: 550px;
  padding: 30px 20px;
}

.our-products__card__info {
  padding: 26px 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.our-products__card__info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-products__card__info div h3 {
  margin: 0;
  font-size: 33px;
  font-weight: 300;
}

.our-products__card__info div p {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 400;
  color: #909090;
}

.our-products__card__info p {
  font-size: 33px;
  font-weight: 300;
  font-weight: bolder;
  color: #5BACC3;
}

.our-products button {
  margin: 4% auto 3% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.different {
  padding: 5% 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #FFF;
}

.different__text {
  width: 40%;
}

.different__text h2 {
  font-size: 60px;
  font-weight: 300;
}

.different__text p {
  width: 85%;
  font-size: 18px;
  font-weight: 400;
}

.different__text__icons {
  margin: 4% 0;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.different__image {
  padding: 0 20px;
  height: 500px;
  min-width: 400px;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.different__image::after {
  top: -20px;
  left: -20px;
  height: 500px;
  width: 500px;
  content: "";
  outline: 5px solid #5BACC3;
  position: absolute;
}

.different__image__background {
  height: 500px;
  min-width: 400px;
  max-width: 500px;
}

.different__image__coldbrew {
  top: 18%;
  left: 30%;
  position: absolute;
  background-color: transparent;
  z-index: 2;
}

.different__image__coldbrew:hover {
  -webkit-animation: "spin" 2s linear infinite;
          animation: "spin" 2s linear infinite;
}

.discount {
  margin: 5% auto 10% auto;
  height: 100px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 90%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #393939;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.discount__paragraph {
  margin: 0;
  color: #FFF;
  font-size: 2.813rem;
  font-weight: 400;
}

.discount__paragraph__span {
  font-weight: 700;
}

.footer {
  padding: 1% 20px 5% 20px;
  position: relative;
}

.footer__background {
  opacity: 25%;
}

.footer__background__left {
  top: 5%;
  left: -2%;
  min-width: 60px;
  min-width: 120px;
  position: absolute;
}

.footer__background__right {
  right: -3%;
  bottom: 19%;
  min-width: 60px;
  min-width: 120px;
  position: absolute;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__container__textBlock h3 {
  font-size: 33px;
  font-weight: 300;
}

.footer__container__textBlock p {
  margin: 1% 0 0 0;
  font-size: 18px;
  font-weight: 400;
}

.footer__container__textBlock p span {
  font-weight: bolder;
}

.footer__container__textBlock img {
  height: 50px;
}
/*# sourceMappingURL=style.css.map */